/* NOTE:resetには追記せず、こちらに追記 */
li {
  list-style: none;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
