@mixin inputTextDiabled {
  background: $mina-sky-light;
  border: 1px solid $mina-sky;
  box-shadow: 0 1px 3px rgba($color: $mina-indigo, $alpha: 0.04) $mina-indigo;

  &:hover {
    cursor: not-allowed;
  }
}
